.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: black;
  z-index: -1;
}

.background img {
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
  padding: 25px 150px;
  color: white;
  justify-content: space-between;
  align-items: center;
}

nav h5 {
  font-size: 24px;
  cursor: pointer;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin: 0 40px;
  font-size: 12px;
  cursor: pointer;
}

.index {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #afbad3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height 0.7s ease, width 0.7s ease;
}

.index p {
  opacity: 0;
  color: white;
  font-size: 10px;
  font-weight: bold;
  z-index: 9;
}

.active {
  height: 30px;
  width: 30px;
}

.active p {
  opacity: 1;
  font-size: 16px;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;

  @screen lg {
    flex-direction: inherit;
  }

  &__wrapper {
    @apply px-6 md:space-y-8;
    @screen lg {
      width: 60%;
      padding-left: 80px;
      padding-right: 20px;
    }
    @screen xl {
      padding-left: 180px;
      padding-right: 100px;
    }
  }

  &__brand {
    @apply max-w-xs lg:max-w-xl sm:m-auto lg:m-0;
    overflow: hidden;
    height: 8rem;
    @screen lg {
      height: 6.5rem;
    }
    @screen xl {
      height: 8rem;
    }
    img {
      @apply m-auto lg:m-0 h-full;
    }
  }

  &__description {
    @apply hidden w-full md:flex lg:w-11/12;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;

    p {
      @apply text-center lg:text-left text-lg text-white;
      opacity: 0.8;
      position: relative;
    }
  }

  &__button {
    @apply pt-4 m-auto md:pt-0 lg:m-0 w-full;
    .vs-button {
      @apply m-0;
    }
  }
}

.text h4 {
  font-family: 'Oswald';
  font-size: 120px;
  color: white;
  position: relative;
}

.main {
  min-height: calc(100vh);
  overflow: hidden;

  &__glide {
    @apply w-full md:pb-8;
    @screen lg {
      padding: 0;
      width: 50%;
    }
    @screen xl {
      width: 45%;
    }
  }

  &__talent {
    @apply flex items-center justify-center w-screen overflow-hidden;
    height: 96vh;
    @screen sm {
      height: 100vh;
    }

    .main {
      &__glide {
        @apply w-screen 2xl:max-w-screen-2xl mx-40 2xl:mx-auto;
        .glide {
          @apply md:w-4/5 xl:w-5/6 2xl:w-full m-auto;
        }
      }
    }

    .vs-card {
      min-height: auto;
      padding-bottom: 0.5rem;

      &__img {
        height: 28rem;
        width: 15rem;
        // @apply md:h-full;
        @screen md {
          width: 16rem;
        }
        @screen lg {
          height: 35rem;
          width: 20rem;
        }
        @screen xl {
          height: 29rem;
          width: 19rem;
        }
        @screen 2xl {
          height: 34rem;
          width: 24rem;
        }
        img {
          object-fit: cover;
          object-position: top;
        }
      }

      &__interactions {
        @apply px-6 py-4 md:p-8;
      }

      &__text {
        @apply lg:text-base;
        min-height: 11rem;
        position: absolute !important;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80% !important;
        @screen md {
          width: 100% !important;
        }
        // @screen lg {
        //   // position: relative !important;
        //   width: 90% !important;
        //   // min-height: auto;
        //   // margin-top: -100px !important;
        // }
      }

      &:hover {
        .vs-card {
          &__text {
            // transform: translate(0, -75%) !important;
          }
          &__interactions {
            bottom: 200px !important;
            @screen md {
              bottom: 170px !important;
            }
          }
        }
      }
    }

    // .glide {
    //   &__slides {
    //     @apply py-8;
    //   }
    // }

    .controls {
      @apply absolute w-screen p-2 sm:p-8 xl:p-16 m-0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      justify-content: space-between;
      // @screen lg {
      //   top: 45%;
      // }

      i {
        @apply text-white text-3xl md:text-7xl;
      }
    }
  }

  &__program {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    .program {
      @apply w-2/5 pl-24 space-y-5;
      &__logo {
        @apply w-full h-24;
        img {
          @apply h-full;
        }
      }

      &__description {
        @apply pr-10 text-white;
        p {
          @apply text-xl font-medium;
        }
      }

      &__button {
        @apply pt-3;
        button {
          margin: 0;
        }
      }

      &__backdrop {
        // @apply relative h-full w-full;
        display: flex;
        min-height: 100vh;

        img {
          // @apply absolute bottom-0 right-0;
          margin: auto 0;
          margin-bottom: 0;
          height: calc(100vh - 15vh);
        }
      }
    }
  }

  &__shop,
  &__experience {
    @apply overflow-auto mt-20;
    height: 86vh;
    &-wrapper {
      @apply w-3/4 max-w-screen-xl m-auto;
    }

    .shop,
    .experience {
      @apply pt-16 pb-24 space-y-10;
    }
  }

  &__about {
    @apply h-screen w-screen max-w-screen-xl  m-auto flex items-center justify-center;
    &-wrapper {
      @apply w-full  flex items-baseline justify-center gap-40  m-auto overflow-hidden text-white;
    }
    .about {
      @apply w-2/4 h-full flex justify-center flex-col;

      &__headline {
        @apply space-y-2 pb-4;
      }

      &__description {
        @apply space-y-4 tracking-wider;
      }

      &-points {
        @apply w-2/5;
        &__list {
          @apply space-y-14;
        }

        &__item {
          @apply space-y-3;
        }
      }
    }
  }

  &__contact {
    @apply h-screen w-screen max-w-screen-xl m-auto flex justify-center items-center;

    &-wrapper {
      @apply h-full w-full flex justify-center items-center;
    }

    .contact {
      @apply w-3/5 gap-28 flex justify-center items-baseline text-white;

      &__info {
        @apply w-2/5 space-y-8;

        &-list {
          @apply space-y-4;
        }
      }
      &__form {
        @apply w-2/5 space-y-8;
        .vs-input {
          @apply w-full;
        }
      }
    }
  }
}

@media only screen and (max-width: 1600px) {
  nav {
    padding: 25px 80px;
  }
  .side-indicator {
    width: 200px;
  }
  .text-wrapper {
    width: 50%;
  }
  .text {
    padding-left: 200px;
  }
  .text h4 {
    transform: scale(0.8);
    transform-origin: left;
  }
  .btn {
    width: 120px;
  }
  .btn p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1300px) {
  nav {
    padding: 25px 40px;
  }
  .text h4 {
    transform: scale(0.6);
    transform-origin: left;
  }
}

@media only screen and (max-width: 1200px) {
  .side-indicator {
    width: 120px;
  }
  .text {
    padding-left: 120px;
  }
  .text-wrapper {
    width: 100%;
  }
  .btn {
    margin-top: 30px;
  }
  .slide p {
    font-size: 12px;
  }
}
