.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: black;
  z-index: -1;
}

.background img {
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
  padding: 25px 150px;
  color: white;
  justify-content: space-between;
  align-items: center;
}

nav h5 {
  font-size: 24px;
  cursor: pointer;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin: 0 40px;
  font-size: 12px;
  cursor: pointer;
}

.index {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #afbad3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height 0.7s ease, width 0.7s ease;
}

.index p {
  opacity: 0;
  color: white;
  font-size: 10px;
  font-weight: bold;
  z-index: 9;
}

.active {
  height: 30px;
  width: 30px;
}

.active p {
  opacity: 1;
  font-size: 16px;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;

  @screen lg {
    flex-direction: inherit;
  }

  &__wrapper {
    @apply px-6 md:space-y-8;
    @screen lg {
      width: 60%;
      padding-left: 80px;
      padding-right: 20px;
    }
    @screen xl {
      padding-left: 180px;
      padding-right: 100px;
    }
  }

  &__brand {
    @apply max-w-xs lg:max-w-xl sm:m-auto lg:m-0;
    overflow: hidden;
    height: 8rem;
    @screen lg {
      height: 6.5rem;
    }
    @screen xl {
      height: 8rem;
    }
    img {
      @apply m-auto lg:m-0 h-full;
    }
  }

  &__description {
    @apply hidden w-full md:flex lg:w-11/12;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;

    p {
      @apply text-center lg:text-left text-lg text-white;
      opacity: 0.8;
      position: relative;
    }
  }

  &__button {
    @apply pt-4 m-auto md:pt-0 lg:m-0 w-full;
  }
}

.text h4 {
  font-family: 'Oswald';
  font-size: 120px;
  color: white;
  position: relative;
}

.main {
  min-height: calc(100vh);

  &__glide {
    @apply w-full md:pb-8;
    @screen lg {
      padding: 0;
      width: 50%;
    }
    @screen xl {
      width: 45%;
    }
  }

  &__talent {
    @apply flex items-center justify-center w-screen h-screen overflow-hidden;

    .main {
      &__glide {
        @apply w-4/5 mx-40;
      }
    }

    // .glide {
    //   &__slides {
    //     @apply py-8;
    //   }
    // }

    .controls {
      @apply absolute w-screen p-8 m-0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@media only screen and (max-width: 1600px) {
  nav {
    padding: 25px 80px;
  }
  .side-indicator {
    width: 200px;
  }
  .text-wrapper {
    width: 50%;
  }
  .glide {
    width: 50%;
  }
  .text {
    padding-left: 200px;
  }
  .text h4 {
    transform: scale(0.8);
    transform-origin: left;
  }
  .btn {
    width: 120px;
  }
  .btn p {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1300px) {
  nav {
    padding: 25px 40px;
  }
  .text h4 {
    transform: scale(0.6);
    transform-origin: left;
  }
}

@media only screen and (max-width: 1200px) {
  .side-indicator {
    width: 120px;
  }
  .text {
    padding-left: 120px;
  }
  .text-wrapper {
    width: 100%;
  }
  .btn {
    margin-top: 30px;
  }
  .slide p {
    font-size: 12px;
  }
}
